@import 'video';
@import 'navbar';
@import 'root';
@import 'gloss';
@import 'contact';
@import 'about';

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    background: #393939;
}

.b{
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    transform: 5s ease-in-out;
}
.b:hover{
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.b2{
    border: blue 1px solid;
    height: 90%;
}

