@charset "UTF-8";
video {
  position: fixed;
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
}

.vid {
  width: 40vw;
  border: 1px solid green;
}

:root {
  --data-color-primary: #212227;
  --data-color-secondary: #606060;
  --data-color-mid: #EBEBEB;
  --data-color-white: #FFFFFF;
}

.navigation {
  position: fixed; /* Changed to fixed for consistent positioning */
  width: 50px;
  height: 50px;
  top: 25px; /* Adjust as needed */
  right: 25px; /* Adjust as needed */
  background: var(--data-color-white);
  z-index: 11111;
  overflow: hidden;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
  padding: 0;
  margin: 0;
}

.menuToggle {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--data-color-primary);
  transition: 0.5s;
  cursor: pointer;
}

.menuToggle::before {
  content: "≡";
  font-size: 2rem;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  transition: 0.5s;
}

.navigation.active {
  width: 250px;
  height: 350px;
  transition: height 0.25s, width 0.25s;
  transition-delay: 0s, 0.5s;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.menuToggle.active {
  background-color: var(--data-color-secondary);
}

.menuToggle.active::before {
  transform: rotate(360deg);
  content: "x";
}

.navigation ul {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  position: relative;
  width: 100%;
  transition: all ease-in-out 0.6s;
}

.navigation li:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 85%;
  bottom: 5px;
}

.navigation a {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: var(--data-color-primary);
}

.icon {
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.icon ion-icon {
  color: var(--data-color-primary);
}

.title {
  line-height: 50px;
  white-space: nowrap;
  font-weight: 300;
}

.active-page {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

:root {
  --data-color-primary: #212227;
  --data-color-secondary: #606060;
  --data-color-mid: #EBEBEB;
  --data-color-white: #FFFFFF;
}

.gloss {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contactTitle {
  font-weight: bolder;
}

.semi-Tab {
  width: 100%;
}

.semi-Tab1 {
  height: 40%;
}

.semi-Tab2 {
  height: 10%;
}

.semi-Slot {
  width: 100%;
  font-weight: 900;
}

@media screen and (min-width: 576px) {
  .semi-Slot {
    width: 100%;
    /* border: 1px solid chartreuse; */
  }
}
@media screen and (min-width: 992px) {
  .semi-Slot {
    width: 60%;
    border: 1px solid black;
  }
}
.box-about {
  background: rgba(255, 255, 255, 0.431372549);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.t-25 {
  border: 1px solid brown;
}

.b-75 {
  border: 1px solid chartreuse;
}

.btn-contact {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  width: 40%;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-contact span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.btn-contact span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.btn-contact:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.btn-contact:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.btn-contact:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

@media screen and (min-width: 992px) {
  .btn-contact {
    width: 10%;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: #393939;
}

.b {
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  transform: 5s ease-in-out;
}

.b:hover {
  box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.b2 {
  border: blue 1px solid;
  height: 90%;
}/*# sourceMappingURL=style.css.map */