.g{
    border: 1px solid black;
}
.b-2{
    border: 2px solid rgb(61, 61, 61);
}
.c-1{
    border: blue 1px solid ;
}
.c-12{
    border: rgb(72, 72, 252) 1px solid ;
}
.p-1a{
    border: purple 2px solid;
    background-color: blueviolet;
}